@*<%@ Page Title="" Language="VB" MasterPageFile="" AutoEventWireup="false" CodeFile="contacto.aspx.vb" Inherits="EnviaCorreo" %>*@

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta property='og:title' content='Mediaccess - Siempre cerca de tu salud' />
    <meta property='og:description' content='En MediAccess nos comprometemos a cuidarte a ti y a los tuyos en todo momento; por eso te ofrecemos el mejor acceso a servicios m&eacute;dicos de salud enfocados en la prevenci&oacute;n' />
    <meta property="og:url" content="https://www.mediaccess.com.mx/" />
    <meta property='og:image' content='https://www.mediaccess.com.mx/images/social.jpg' />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Mediaccess - Siempre cerca de tu salud" />
    <meta property="fb:app_id" content="128240760587450" />
    <meta name="twitter:card" content="summary_large_image" />
    @*<meta name="twitter:site" content="@MediAccessSalud" />*@
    @*<meta name="twitter:creator" content="@MediAccessSalud" />*@
    <meta name='twitter:title' content='Mediaccess - Siempre cerca de tu salud' />
    <meta name='twitter:description' content='En MediAccess nos comprometemos a cuidarte a ti y a los tuyos en todo momento; por eso te ofrecemos el mejor acceso a servicios m&eacute;dicos de salud enfocados en la prevenci&oacute;n' />
    <meta name='twitter:image' content='https://www.mediaccess.com.mx/images/social.jpg' />
    <meta name="twitter:domain" content="mediaccess.com.mx" />

    <title>MediAccess | Contacto</title>
    <!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.transitions.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/personal.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <script src="js/jquery-3.2.1.js"></script>
</head><!--/head-->

<body id="home" class="homepage">

    <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div id="socialmedia">
                <ul style="float: right; padding-right: 60px">
                    <li class="topbtn scroll"><a href="http://mediaccess.dyndns.org:8099/MediAccessWeb/jsp/main/loginSistemaVentas.jsp">AGENTES</a></li>
                    <li class="topbtn scroll">
                        <a href="https://www.mediaccess.com.mx/SassProveedores/Seguridades/Login.aspx">PROVEEDORES</a>
                    </li>
                    <li class="topbtn scroll">
                        <a href="https://www.mediaccess.com.mx/SassCoordinadores/Seguridades/Login.aspx">COORDINADORES</a>
                    </li>
                    <a href="https://twitter.com/MediAccessSalud" target="_blank">
                    <li class="icon-social" align="center"><i class="fa fa-twitter hiblue" aria-hidden="true"></i></li></a>
                    <a href="https://www.facebook.com/Medi.Access/" target="_blank">
                    <li class="icon-social" align="center"><i class="fa fa-facebook hiblue" aria-hidden="true"></i></li></a>
                    <a href="https://www.youtube.com/channel/UCOrSgMnmSEp6lq6IQaWdwfw" target="_blank">
                    <li class="icon-social" align="center"><i class="fa fa-youtube hiblue" aria-hidden="true"></i></li></a>
                </ul>
            </div>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="images/logo.svg" width="360px" height="80px" alt="logo"></a>
                    <div class="navbar-right a-right p-top10" style="margin-right: -170px !important;">
                        <img src="images/SAPI-700.png">
                    </div>
                    <div class="navbar-right a-right p-top10" style="margin-right:10px !important;">
                        <i class="fa fa-headphones fa-2x hiblue p-right10" aria-hidden="true"></i><span class="hiblue">CALL CENTER</span> 551085 0332
                        <br><span class="hiblue">INT. REP.</span> 800-088-2272
                    </div>
                </div>
            </div><!--/.container-->


            <div id="menuprincipal">
                <div class="container">
                    <div class="collapse navbar-collapse navbar-left">
                        <ul class="nav navbar-nav">
                            <li class="scroll"><a href="/"><i class="fa fa-home fa-2x hiwhite" aria-hidden="true"></i></a></li>
                            <li class="scroll"><a href="acerca-de.html">ACERCA DE MEDIACCESS<br>&nbsp;</a></li>
                            <li class="scroll active"><a href="nuestro-grupo.html">NUESTRO GRUPO<br>&nbsp;</a></li>
                            <li class="scroll"><a href="productos.html">PRODUCTOS DEL GRUPO</a></li>
                            <li class="scroll"><a href="https://ventasalpublico.mediaccess.com.mx/">COMPRAR<br>&nbsp;</a></li>
                            <li class="scroll"><a href="red-medica.aspx">RED M&Eacute;DICA<br>&nbsp;</a></li>
                            <li class="scroll"><a href="https://www.mediaccess.com.mx/boletin_ftp/boletin.pdf" target="_blank">BOLET&Iacute;N<br>&nbsp;</a></li>
                            <li class="scroll visible-xs-block"><a href="http://mediaccess.dyndns.org:8099/MediAccessWeb/jsp/main/loginSistemaVentas.jsp" target="_blank">AGENTES<br>&nbsp;</a></li>
                            <li class="scroll visible-xs-block"><a href="https://www.mediaccess.com.mx/SassProveedores/Seguridades/Login.aspx" target="_blank">PROVEEDORES<br>&nbsp;</a></li>
                            <li class="scroll visible-xs-block"><a href="https://www.mediaccess.com.mx/SassCoordinadores/Seguridades/Login.aspx" target="_blank">COORDINADORES<br>&nbsp;</a></li>
                            <li class="scroll visible-xs-block">
                                <span class="hiblue" style="color:#fff;margin-left:16px;">CALL CENTER</span> 551085 0332
                                <br />
                                <span class="hiblue" style="color:#fff;margin-left:16px;">INT. REP.</span> 800-088-2272
                                <br>&nbsp;
                            </li>
                            <li class="scroll visible-xs-block">
                                <center>
                                    <a href="https://twitter.com/MediAccessSalud" target="_blank">
                            <li class="icon-social" align="center"><i class="fa fa-twitter hiblue" aria-hidden="true" style="margin: 5px;"></i></li></a>
                            <a href="https://www.facebook.com/Medi.Access/" target="_blank">
                            <li class="icon-social" align="center"><i class="fa fa-facebook hiblue" aria-hidden="true" style="margin: 5px;"></i></li></a>
                            <a href="https://www.youtube.com/channel/UCOrSgMnmSEp6lq6IQaWdwfw" target="_blank">
                            <li class="icon-social" align="center"><i class="fa fa-youtube hiblue" aria-hidden="true" style="margin: 5px;"></i></li></a>
                            </center>
                            <br />&nbsp;
                            </li>
                        </ul>
                    </div>

                </div><!--/.container-->
            </div>
        </nav><!--/nav-->
    </header><!--/header-->
    <div class="title-section bg-blue p-all10"><h1 class="container fw-100 hiwhite">Contacto</h1></div></div>
    <div class="title-section bg-red p-all10"><p class=" container fw-100 hiwhite">Queremos saber de ti, dinos que te interesa y con gusto entraremos en contacto contigo.</p></div>




    <section id="contact" class="m-top100">
        <div id="google-map" style="height:700px" data-latitude="19.3159906" data-longitude="-99.2215269">
            <div style="width: 100%">
                <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=Blvd.%20Adolfo%20Ruiz%20Cortines%20No%203642.%20Piso%209.Col.%20Jardines%20del%20Pedregal%20Del.%20%C3%81lvaro%20Obreg%C3%B3n,%20CP.%2001900,%20CDMX.+(Medi%20Access%20S.A.P.I%20de%20C.V.)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                    <a href="https://www.mapsdirections.info/marcar-radio-circulo-mapa/">
                    </a>
                </iframe>
            </div>
        </div>,
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <div class="contact-form">
                            <h3 class="gray-font">Contacto</h3>

                            <address>
                                <strong>MediAccess</strong> Blvd. Adolfo Ruiz Cortines No 3642. Piso 9
                                Col. Jardines del Pedregal Del. &Aacute;lvaro Obreg&oacute;n CDMX.
                                <!--<abbr title="Phone">Tel:</abbr> 55 5511 7602-->
                            </address>

                            <!-- <form  method="post" action="mandaremail.aspx" >-->
                            <form id="form1" runat="server">
                                <div class="form-group">
                                    <!--<input type="text" name="tx_name" id="tx_name" class="form-control" placeholder="Nombre*" required>-->
                                    <asp:TextBox ID="tx_name" runat="server" CssClass="form-control" placeholder="Nombre*"
                                                 onkeypress="" required></asp:TextBox>
                                </div>
                                <div class="form-group">
                                    <!-- <input type="text" name="tx_direccion" id="tx_direccion" class="form-control" placeholder="Direcci&oacute;n*" required> -->
                                    <asp:TextBox ID="tx_direccion" runat="server" CssClass="form-control" placeholder="Direcci&oacute;n*"
                                                 onkeypress="" required></asp:TextBox>
                                </div>
                                <div class="form-group">
                                    <!-- <input type="email" name="tx_email" id="tx_email" class="form-control" placeholder="Mail*" required> -->
                                    <asp:TextBox ID="tx_email" runat="server" CssClass="form-control" placeholder="Mail*"
                                                 onkeypress="" required></asp:TextBox>
                                </div>
                                <div class="form-group">
                                    <!--<input type="text" name="tx_tels" id="tx_tels" class="form-control" placeholder="N&uacute;mero Telef&oacute;nico*" required> -->
                                    <asp:TextBox ID="tx_tels" runat="server" CssClass="form-control" placeholder="N&uacute;mero Telef&oacute;nico*"
                                                 onkeypress="" required></asp:TextBox>
                                </div>
                                <div class="form-group">
                                    <!-- <input type="text" name="tx_area" id="tx_area" class="form-control" placeholder="&Aacute;rea*" required> -->
                                    <asp:TextBox ID="tx_area" runat="server" CssClass="form-control" placeholder="&Aacute;rea*"
                                                 onkeypress="" required></asp:TextBox>
                                </div>
                                <div class="form-group">
                                    <!-- <textarea name="tx_message" id="tx_message" class="form-control" rows="8" placeholder="Mensaje*" required></textarea> -->

                                    <asp:TextBox id="tx_message" TextMode="multiline" CssClass="form-control" columns="50" rows="6" placeholder="Mensaje*"
                                                 runat="server" required />

                                </div>
                                <div class="form-group">
                                    <asp:Label ID="LabelMsg" runat="server"
                                               style="font-weight: bold; font-size: 14px; color: black; font-family: Arial; font-variant: small-caps" Visible="False">
                                    </asp:Label>
                                </div>
                                <!-- <button type="submit" id="Button1" class="btn btn-primary">Enviar Mensaje</button> -->
                                <center>
                                    <div class="g-recaptcha" data-sitekey="6Ld7vFwUAAAAAPqTPoMKtTEi9pIsRQnYrrIRA4VW" data-callback="recaptcha_callback" data-expired-callback="fnVerifyExpired" data-size="" data-theme="light"></div>

                                    <br>
                                    <asp:Button ID="Button1" runat="server" class="btn btn-primary" Text="Enviar Mensaje" disabled />
                                </center>
                            </form>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!--/#bottom-->

    <section class="m-top20 m-bottom150">
        <div class="col-sm-12" style="text-align: center;">
            <span class="hiblue2 fw-700 f-20 text-center">Quejas o sugerencias</span>
            <br>
        </div>


        <div class="col-sm-12" style="text-align: center;">
            &copy; Ventas Interior de la Rep&uacute;blica 800 681- 8368<br>CDMX. y &Aacute;rea Metropolitana 553683-8383.<br> <a target="_blank" href="#" title="Términos y condiciones"><span class="hiblue">servicioaclientes@mediaccess.com.mx </span></a>
        </div>
    </section>









    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="text-align: center;">
                    &copy; Medi Access S.A.P.I de C.V. Blvd. Adolfo Ruiz Cortines No 3642. Piso 9.Col. Jardines del Pedregal Del. &Aacute;lvaro Obreg&oacute;n, CP. 01900, CDMX.
                    <br>Tel. 551085 2000. Todos los derechos reservados.<br>
                    <a target="_blank" href="terminos.html" title="Términos y condiciones">
                        <span class="c-red">T&eacute;rminos y condiciones
                    </a></span> | <a target="_blank" href="aviso.html" title="Aviso de Privacidad"><span class="c-red">Aviso de Privacidad</a></span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-1" style="text-align: center;"></div>
                <div class="col-xs-5 col-sm-2" style="text-align: center;"><button class="btn btn-primary  m-top20" style="background-color: #407d86;" onclick="location.href='bolsa.aspx'">Bolsa de Trabajo</button></div>
                <div class="col-xs-2 col-sm-6" style="text-align: center;"></div>
                <div class="col-xs-5 col-sm-2" style="text-align: center;"><button class="btn btn-primary m-top20" style="background-color: #407d86;" onclick="location.href='contacto.aspx'">Cont&aacute;ctanos</button></div>
                <div class="col-xs-12 col-sm-1" style="text-align: center;"></div>
            </div>


        </div>
    </footer><!--/#footer-->
    <!--<script src="js/jquery.js"></script> -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/mousescroll.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/main.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111789552-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111789552-1');
    </script>
    </script>
    <script type="text/javascript">
			function recaptcha_callback(){
			  //alert("callback working");
			  $('#Button1').prop("disabled", false);
			}
			function fnVerifyExpired()
            {
                    globVerify = false;

                   $('#Button1').prop("disabled", true);
            }
    </script>
</body>
</html>
