@{
    ViewBag.Title = "Home Page";
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
    h2.fuente {
        color: black;
        font-size: 30px;
        font-family: cursive;
    }

    .backgroundStyle {
        background-color: cadetblue;
    }
</style>


<div class="jumbotron text-center backgroundStyle">
    <h2 class="fuente"><i class="fa fa-web"></i> BIENVENIDOS AL SISTEMA DE VENTAS WEB</h2>

</div>
@*<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="carousel-example" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <a href="#"><img src="http://placekitten.com/1600/600" /></a>
                            <div class="carousel-caption">
                                <h3>Meow</h3>
                                <p>Just Kitten Around</p>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#"><img src="~/Content/images/images.png" /></a>
                            <div class="carousel-caption">
                                <h3>Meow</h3>
                                <p>Just Kitten Around</p>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#"><img src="http://placekitten.com/1600/600" /></a>
                            <div class="carousel-caption">
                                <h3>Meow</h3>
                                <p>Just Kitten Around</p>
                            </div>
                        </div>
                    </div>

                    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

        </div>

    </div>*@
<div class="contenedor">
    <div class="slider-contenedor">
        <section class="contenido-slider">
            <div>
                <h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                    sed. Quos cupiditate id delectus est.
                </h2>
                <a href="#">Contact us</a>
            </div>
            <img src="animacion.svg" alt="">

        </section>
        <section class="contenido-slider">
            <div>
                <h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                    sed. Quos cupiditate id delectus est.
                </h2>
                <a href="#">Contact us</a>
            </div>
            <img src="animacion2.svg" alt="">

        </section>
        <section class="contenido-slider">
            <div>
                <h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                    sed. Quos cupiditate id delectus est.
                </h2>
                <a href="#">Contact us</a>
            </div>
            <img src="animacion3.svg" alt="">

        </section>
        <section class="contenido-slider">
            <div>
                <h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                    sed. Quos cupiditate id delectus est.
                </h2>
                <a href="#">Contact us</a>
            </div>
            <img src="animacion.svg" alt="">

        </section>
    </div>
</div>